In [29]:
import pandas as pd

In [30]:
links = pd.read_csv('../data/ml-latest-small/links.csv')
movies = pd.read_csv('../data/ml-latest-small/movies.csv')
ratings = pd.read_csv('../data/ml-latest-small/ratings.csv')
tags = pd.read_csv('../data/ml-latest-small/tags.csv')

In [31]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [32]:
links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movieId    9125 non-null int64
imdbId     9125 non-null int64
tmdbId     9112 non-null float64
dtypes: float64(1), int64(2)
memory usage: 213.9 KB

In [33]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [34]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movieId    9125 non-null int64
title      9125 non-null object
genres     9125 non-null object
dtypes: int64(1), object(2)
memory usage: 213.9+ KB

In [35]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [36]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
userId       100004 non-null int64
movieId      100004 non-null int64
rating       100004 non-null float64
timestamp    100004 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [37]:
len(ratings['movieId'].unique())

9066

In [38]:
tags.head()

   userId  movieId                      tag   timestamp
0      15      339  sandra 'boring' bullock  1138537770
1      15     1955                  dentist  1193435061
2      15     7478                 Cambodia  1170560997
3      15    32892                  Russian  1170626366
4      15    34162              forgettable  1141391765

In [39]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 4 columns):
userId       1296 non-null int64
movieId      1296 non-null int64
tag          1296 non-null object
timestamp    1296 non-null int64
dtypes: int64(3), object(1)
memory usage: 40.6+ KB

In [40]:
len(tags.movieId.unique())

689

In [41]:
movies_meta = pd.merge(links, movies, on='movieId')
movies_meta.head()

,movieId,imdbId,tmdbId,title,genres
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy
2,3,113228,15602.0,Grumpier Old Men (1995),Comedy|Romance
3,4,114885,31357.0,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,113041,11862.0,Father of the Bride Part II (1995),Comedy

In [42]:
movies_meta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9125 entries, 0 to 9124
Data columns (total 5 columns):
movieId    9125 non-null int64
imdbId     9125 non-null int64
tmdbId     9112 non-null float64
title      9125 non-null object
genres     9125 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 427.7+ KB

In [43]:
avg_ratings = ratings.groupby(['movieId'], as_index=False)['rating'].mean()
avg_ratings = avg_ratings.rename(columns={'rating': 'avg_rating'})
avg_ratings.head()

   movieId  avg_rating
0        1    3.872470
1        2    3.401869
2        3    3.161017
3        4    2.384615
4        5    3.267857

In [44]:
avg_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9066 entries, 0 to 9065
Data columns (total 2 columns):
movieId       9066 non-null int64
avg_rating    9066 non-null float64
dtypes: float64(1), int64(1)
memory usage: 212.5 KB

In [45]:
movies_meta2 = pd.merge(movies_meta, avg_ratings, how='left', on='movieId')
movies_meta2.head()

,movieId,imdbId,tmdbId,title,genres,avg_rating
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.872470
1,2,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy,3.401869
2,3,113228,15602.0,Grumpier Old Men (1995),Comedy|Romance,3.161017
3,4,114885,31357.0,Waiting to Exhale (1995),Comedy|Drama|Romance,2.384615
4,5,113041,11862.0,Father of the Bride Part II (1995),Comedy,3.267857

In [46]:
movies_meta2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9125 entries, 0 to 9124
Data columns (total 6 columns):
movieId       9125 non-null int64
imdbId        9125 non-null int64
tmdbId        9112 non-null float64
title         9125 non-null object
genres        9125 non-null object
avg_rating    9066 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 499.0+ KB

In [47]:
new_tags = tags.drop(['userId','timestamp'], axis=1)
new_tags.head()

   movieId                      tag
0      339  sandra 'boring' bullock
1     1955                  dentist
2     7478                 Cambodia
3    32892                  Russian
4    34162              forgettable

In [48]:
grouped_tags = new_tags.groupby('movieId').agg(lambda x: ' '.join(x)).reset_index()

In [49]:
movies_meta3 = pd.merge(movies_meta2, grouped_tags, how='left', on='movieId')
movies_meta3.head(30)

,movieId,imdbId,tmdbId,title,genres,avg_rating,tag
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.872470,Pixar
1,2,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy,3.401869,NaN
2,3,113228,15602.0,Grumpier Old Men (1995),Comedy|Romance,3.161017,NaN
3,4,114885,31357.0,Waiting to Exhale (1995),Comedy|Drama|Romance,2.384615,NaN
4,5,113041,11862.0,Father of the Bride Part II (1995),Comedy,3.267857,steve martin
5,6,113277,949.0,Heat (1995),Action|Crime|Thriller,3.884615,NaN
6,7,114319,11860.0,Sabrina (1995),Comedy|Romance,3.283019,NaN
7,8,112302,45325.0,Tom and Huck (1995),Adventure|Children,3.800000,NaN
8,9,114576,9091.0,Sudden Death (1995),Action,3.150000,NaN
9,10,113189,710.0,GoldenEye (1995),Action|Adventure|Thriller,3.450820,NaN
10,11,112346,9087.0,"American President, The (1995)",Comedy|Drama|Romance,3.689024,NaN
11,12,112896,12110.0,Dracula: Dead and Loving It (1995),Comedy|Horror,2.861111,NaN
12,13,112453,21032.0,Balto (1995),Adventure|Animation|Children,3.937500,NaN
13,14,113987,10858.0,Nixon (1995),Drama,3.451613,NaN
14,15,112760,1408.0,Cutthroat Island (1995),Action|Adventure|Romance,2.318182,NaN
15,16,112641,524.0,Casino (1995),Crime|Drama,3.948864,NaN
16,17,114388,4584.0,Sense and Sensibility (1995),Drama|Romance,3.924419,NaN
17,18,113101,5.0,Four Rooms (1995),Comedy,3.288462,NaN
18,19,112281,9273.0,Ace Ventura: When Nature Calls (1995),Comedy,2.597826,NaN
19,20,113845,11517.0,Money Train (1995),Action|Comedy|Crime|Drama|Thriller,2.538462,NaN
20,21,113161,8012.0,Get Shorty (1995),Comedy|Crime|Thriller,3.536842,NaN
21,22,112722,1710.0,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,3.355263,NaN
22,23,112401,9691.0,Assassins (1995),Action|Crime|Thriller,3.090909,NaN
23,24,114168,12665.0,Powder (1995),Drama|Sci-Fi,3.044118,NaN
24,25,113627,451.0,Leaving Las Vegas (1995),Drama|Romance,3.742574,NaN
25,26,114057,16420.0,Othello (1995),Drama,4.100000,NaN
26,27,114011,9263.0,Now and Then (1995),Children|Drama,3.142857,NaN
27,28,114117,17015.0,Persuasion (1995),Drama|Romance,4.083333,NaN
28,29,112682,902.0,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,4.025000,NaN
29,30,115012,37557.0,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama,4.050000,NaN

In [50]:
movies_meta3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9125 entries, 0 to 9124
Data columns (total 7 columns):
movieId       9125 non-null int64
imdbId        9125 non-null int64
tmdbId        9112 non-null float64
title         9125 non-null object
genres        9125 non-null object
avg_rating    9066 non-null float64
tag           689 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 570.3+ KB